body {
    color: #232323;
    display: flex;
    flex-direction: column;
    align-items: center;
}



#menu-button{
    display: none;
}

nav{
    position: fixed;
    top: 0;
    min-height: 80px;
    color: inherit;
    background-color: white;
    box-shadow: 0px 7px 15px -2px rgba(0, 0, 0, 0.233);
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
    z-index: 4;
}

#Logo {
    width: clamp(250px, calc(2vw + 70px), 500px);
}
li, nav > p {
    padding: 10px 1vw;
}

#number {
    font-weight: 550;
    font-size: calc(12px + 0.3vw);
    margin-left: auto;

}

nav > div {
    display: flex;
    gap: 20px;
    align-items: center;
    overflow-x: visible;
}
nav > div> button{
    font-weight: 500;
    font-size: calc(15px + 0.3vw);
    border-radius: 10px;
    border-style: solid;
}
nav > div> button, #get-started {
    padding: 10px 20px;
    background-color: var(--darkblue);
    border-color: var(--darkblue);
    cursor: pointer;
}

nav > ul > li {
    padding: 15px;
}
a{
    text-decoration: none;
    transition: all 0.3s ease;
}
#wide-nav a{
    font-size: calc(10px + 0.4vw);
    margin: 1.5px;
    line-height: 20px;
    text-decoration: underline solid transparent;
}

#wide-nav a:hover {
    transition: all 0.3s ease;
    text-decoration: underline solid gray;
    color: rgb(42, 59, 71);
}

#contact {
    background-color: rgb(216, 216, 216);
    border-color: rgb(233, 233, 233);
}

#embark {
    color: white;
}
/*For Nav Bar To Become Condensed */
@media only screen and (max-width: 1040px) {
    /* Styles specific to phones */
    #wide-nav{
        display: none;
    }

    #number{
        display: none;
    }
    #contact{
        display: none;
    }
    #menu-button{
        display: block;
    }
    #slim-nav{
        top: 50px;
        flex-direction: column;
        justify-content: space-around;
        position: fixed;
        align-items: center;
        height: 70vh;
        width: 100vw;
        background-color: white;
        transform-origin: top left;
    }
    #slim-nav > li {
        font-size: 16px;
        font-family: FoundersBold;
        font-weight: 1000;
        display: flex;
        flex-direction: column;
        padding: 20px;
        align-items: center;
    }
    #menu-button {
        transition: all 0.3s ease;
        border-radius: 5px;
        padding: 5px;
        width: 75px;
        height: 50px;
        object-fit: contain;
        cursor: pointer;
        background-color: #ebebeb;
    }
    #menu-button:hover, #menu-botton:active{
        transition: all 0.3s ease;
        background-color: #dddddd;
    }


  }