h2,h4{
    margin: 0;
    min-height: 35px;
}

em{
    font-size: 20px;
}

#testimonials {
    min-height: 450px;
    padding: 20px;  
    overflow-x: hidden;
}

#testWrapper{
    text-align: center;
    gap: 30px;
    overflow-y: hidden;
    overflow-x: scroll;
    max-width: 100%;
    scroll-snap-type: x mandatory;
    /*scroll-behavior: smooth */
}
/* Hide scrollbar for Chrome, Safari and Opera */
#testWrapper::-webkit-scrollbar {
    display: none;
  }
/* Hide scrollbar for IE, Edge and Firefox */
#testWrapper {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
#testWrapper > div{
    display: grid;
    grid-template-rows: 110px 20px 20px auto;
    min-width: 450px;
    overflow-y: hidden;
    justify-items: center;
    gap: 30px;
    padding: 40px;
    box-shadow: 0px 0px 20px -8px rgba(82, 82, 82, 0.75);
    scroll-snap-align: start;
}

#testWrapper h2 {
    font-weight: 800;
}


/*Scrolling Buttons */
.scroll-right, .scroll-left{
    width: 60px;
    opacity: 0.2;
    border-radius: 50%;
    border: rgb(58, 56, 56) solid 2px;
    position: absolute;
    transition: all 0.3s ease;

}

.scroll-right:hover, .scroll-left:hover{
    opacity: 0.6;
    cursor: pointer;
}

.scroll-right{
    right: 3vw;
}

.scroll-left{
    transform: scaleX(-1);
    object-position: 2px;
    left: 3vw;
}

@media screen and (max-width:450px){
    #testimonials{
        padding: 0;
    }

    #testWrapper > div{
        min-width: 100vw;
    }

    #testWrapper {
        gap: 0;
    }
}