.section{
    padding: 10px 10vw;
    max-width: 1800px;
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
    align-items: center;
}

.section .bodyText{
    font-size: 18px;
}

.section img {
    object-fit: cover;
    min-height: 250px;
    min-width: 350px;
}


.section .wrapper{
    width: 40%;
    min-width: 450px;
}

