.section{
    padding: 10px 5vw;
    max-width: 1800px;
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
    align-items: center;
}

.section .bodyText{
    font-size: 18px;
}

.section img {
    object-fit: cover;
    width: 40%;
}


.section .wrapper{
    width: 40%;
    min-width: 450px;
    align-items: flex-start;
}

.section .wrapper * {
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 700px){
    .section{
        gap: 20px;
    }
    .section .wrapper, .section img{
        width: 80vw;
        min-width: 0;
    }

  
  }